.orderWrapp {
    margin: 0px;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.NavBarUser {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(116, 116, 116);
    width: 20%;
    height: 100%;
    color: white;
    border-right: 2px solid rgb(33, 64, 75);
}

.imgUserLog {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin-bottom: 40px;
    border: 2px solid rgb(0, 0, 0);
}

.nameUser {
    margin-bottom: 80px;

}

.listUserLog {
    list-style: none;
    text-align: center;
}

.listUserLog li {
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid white;
    width: 150px;
}

.listUserLog li:hover {
    color: black;
    border-radius: 10px;
    text-shadow: 1px 1px 2px rgb(107, 107, 107);
    font-size: 1.3rem;
}

.imgLogoFenix {
    margin-top: 200px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.controlUserWeb {
    background-color: rgb(226, 244, 247);
    width: 80%;
    height: 100%;
}

.squareDates {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 98%;
    height: 60%;
    background-color: lightskyblue;
    margin: 30px;
    margin-right: 10px;
    border-radius: 20px;

}

.squareDate {
    display: flex;
    flex-direction: row;
    width: 45%;
    height: 20%;
    background-color: rgb(204, 219, 250);
    margin: 0.5%;
    border-radius: 20px;
    border: 1px solid rgb(110, 110, 110);
}

.orderSquareDate {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.squareDay {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    margin: 10px;
    font-size: 1.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    padding-top: 10px;
    border: 1px solid rgb(121, 121, 121);
    box-shadow: 2px 2px 2px rgb(49, 49, 49);
}

.squareNumber {
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    margin-top: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    padding: 30px;
    border: 1px solid rgb(121, 121, 121);
    box-shadow: 2px 2px 2px rgb(49, 49, 49);

}

.orderSquareDate2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.squareSession {
    background-color: white;
    border-radius: 10px;
    width: 100%;
    margin: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.5rem;
    text-align: center;
    padding-top: 10px;
    border: 1px solid rgb(121, 121, 121);
    box-shadow: 2px 2px 2px rgb(49, 49, 49);

}


.orderUsersAndWorkoutTipes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    height: 20%;
}

.squareLightblueUser {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 70%;
    background-color: lightskyblue;
    margin: 20px;
    padding: 10px;
    border-radius: 10px;
}

.userList {
    width: 45%;
    height: 15%;
    border-radius: 10px;
    margin: 10px;
    background-color: white;
    border: 1px solid rgb(121, 121, 121);
    box-shadow: 2px 2px 2px rgb(48, 48, 48);
    font-family: monospace;
    font-size: 1.8rem;
    padding-left: 30px;
}

.squareLightblueWorkouts {
    width: 25%;
    background-color: rgb(116, 220, 255);
    margin: 20px;
    border-radius: 10px;
}

.workoutsTitle {
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.8rem;
}

.activity {
    width: 80%;
    border-radius: 5px;
    margin-left: 10%;
    margin-bottom: 10px;
    padding-top: 5px;
    letter-spacing: 5px;
    border: 1px solid rgb(121, 121, 121);
    box-shadow: 2px 2px 2px rgb(49, 49, 49);
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: white;
}

.orderAddInput {
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.addInput {
    border-radius: 10px;
    border: none;
    text-align: center;
    padding: 10px;
    margin-bottom: 10px;
}

.addButton {
    border-radius: 5px;
    border: none;
    padding: 5px;
    box-shadow: 2px 2px 2px rgb(0, 0, 48);
    background-color: rgb(79, 79, 255);
}