.orderAddClient{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.titleAddClient{
   background-color: green;
   width: 70%;
   text-align: center;
}

.formAddClient{
   background-color: goldenrod;
   width: 100%;
   text-align: center;
  
}