h2 {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}
.titleHomeCard{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2.6rem;
}
.cardsHome {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 80px auto;
}

.cardHome {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 10px;
    padding-top: 20px;
    width: 250px;
    color: rgb(32, 32, 32);
    letter-spacing: 1px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    border: none;
    box-shadow: 3px 3px 4px 2px rgb(209, 209, 187);
}

.card-iconHome {
    margin: auto;
    width: 100px;
    height: 100px;
    padding: 20px;
}

.lettersHome {
    display: flex;
    justify-content: center;
    background: white;
    margin: 5px;
    height: 165px;
    padding: 40px;

}

h4.letters {
    margin: auto;
}

@media only screen and (min-width: 500px) {
    .cards {
        display: flex;
        flex-wrap: wrap;
        width: 90%;
    }
}