.orderMain {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
}

.orderParagraph {
    display: flex;
    flex-direction: column;
    margin-right: 20%;

}

.imgMain {
    width: 600px;
    height: 600px;
    margin: 50px;
    margin-left: 20%;
}


.Digital {
    text-align: right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 2rem;
    width: 300px;
}

.useFenix {

    text-align: right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
}