* {
    box-sizing: border-box;
    margin: 0;

}

.orderNav {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 100%;
    border-bottom: 2px solid rgb(203, 218, 249)
}

.orderLogo {
    display: flex;
    justify-content: space-between;
}

.logoNav {
    margin-left: 50px;
    width: 110px;
    height: 110px;

}

.titleNav {
    height: 95px;
    margin-top: 25px;
    width: 300px;
    font-style: normal;
    font-size: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #acabab;
    text-align: center;

}

.orderListNav {
    display: flex;
    flex-direction: row;
    justify-content: end;


}

.listNav {
    width: 500px;
    padding-right: 60px;
    margin-top: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.2rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.orderButton {
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
    align-items: center;

}

button {
    margin-top: 15px;
    margin-right: 15px;
    color: white;
    width: 100px;
    height: 50px;
    font-size: 1rem;
    background: #3551eb;
    border: 1px solid #7448ee;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

}


a {
    color: inherit;
    text-decoration: none;
}