.imagesCarrousel {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;

}

.imgFF {
    border-radius: 10px;
    width: 20%;
    height: 10%;
    box-shadow: 5px 10px 10px gray;
    margin: 10px;

}

.imgFFGreat {
    width: 30%;
    height: 15%;
    border-radius: 10px;
    box-shadow: 5px 10px 10px gray;
    margin: 10px;
}

.orderInfo1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.iconFenixFit {
    width: 200px;
    height: 200px;
}

.parrafoFit {
    width: 60%;
    padding: 5%;
    margin-left: 5%;
    font-weight: 700;
    font-size: 3rem;
    text-align: right;

}

.order2Info1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.principalImg {
    width: 50%;
    height: 25%;
    border-radius: 10px;
    margin-bottom: 2%;
    box-shadow: 5px 5px 5px gray;
}

.butomPruebaFF {
    width: 300px;
    height: 200px;
    color: white;
    letter-spacing: 4px;
    border-radius: 20px;
    background-color: #B6BA00;
    border: none;
    box-shadow: 5px 5px 5px gray;
    font-size: 3.5rem;
    font-family: Impact;
    margin-top: 100px;
    transition: all .3s ease;
}

.butomPruebaFF:hover{
    
    transform: scale(1.10);
}

.orderInfo2 {
    display: flex;
    justify-content: space-around;
    margin: 5%;
}

.listFit2 {
    margin: 30px;
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    line-height: 7rem;
}

.listFenix:hover{
    transition: all .3s ease;
    transform: scale(1.2);
    color: #B6BA00;
    font-style: oblique;
}

.loMerecen {
    text-align: center;
    margin: 30px;
}

.imgResponsive {
    width: 300px;
    height: 200px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px gray;
    margin-top: 20px;
}

.logAppOrder {
    display: flex;
    flex-direction: column;
}

.logApp {
    margin: 15px;
    width: 200px;
    height: 75px;
}