.cabeceraSloganImage {
    display: flex;
    align-items: center;
    background-color: rgba(241, 241, 253, 0.521);

}

.imgTarifas {
    width: 100%;
    height: 110vh;
}

.sloganTarifas {
    background-color: white;
    position:absolute;
    width: 40%;
    font-family: sans-serif;
    font-size: 5rem;
    text-align: center;
    margin-left: 10%;
    padding: 20px;
    box-shadow: 10px 20px 20px 15px rgb(26, 26, 26);
}

.sloganTarifas:hover{
    transition: all .6s ease-in-out;
    transform: scale(1.1);
}


.tarifasFF {
    font-size: 40px;
    font-style: oblique;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: lightslategrey;
    margin-bottom: 30px;
}

.cuadroPagos {
    padding: 30px;
    background-color: rgba(255, 255, 255, 0.37);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
}

.cuadroPago1 {
    background-color: rgba(219, 219, 224, 0.521);
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
    margin: 10px;
    padding: 20px;
    box-shadow: 3px 3px 3px rgb(211, 211, 211);
}

.tarifa {
    font-size: 70px;
    color: rgba(0, 0, 0, 0.664);
}

.buttomSuscribe {
    width: 300px;
    height: 100px;
    color: rgb(66, 65, 65);
    font-size: 30px;
    background-color: rgba(224, 243, 252, 0.904);
    border: none;
    box-shadow: 5px 5px 5px rgb(180, 180, 180);
}

.buttomSuscribe1{
    width: 300px;
    height: 100px;
    margin-left: 60px;
    font-size: 30px;
    color: rgb(66, 65, 65);
    background-color: rgba(224, 243, 252, 0.904);
    border: none;
    box-shadow: 5px 5px 5px rgb(180, 180, 180);
}

.buttomSuscribe:hover,
.buttomSuscribe1:hover,
.buttomFree:hover{
    transition: all .3s ease;
    transform: scale(1.1);
}

.buttomFree:hover{
    background-color: rgb(109, 109, 6);
    color: black;
}


.proofFree {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.sloganFree {
    background-color: rgb(51, 99, 255);
    margin: 5%;
    width: 35%;
    font-family: sans-serif;
    font-size: 3.5rem;
    text-align: center;
    color: rgb(255, 255, 255);
    padding: 30px;
    border: none;
    box-shadow: 5px 5px 5px gray;
}

.buttomFree {
    background-color: rgb(173, 204, 0);
    color: rgb(255, 255, 255);
    font-family: sans-serif;
    font-weight: bolder;
    font-size: 4.2rem;
    width: 400px;
    height: 300px;
    margin-right: 300px;
    border: none;
    box-shadow: 5px 5px 5px gray;
    margin: 20px;
}

.fa-heart{
    font-size: 3rem;
    line-height: 70px;
}

.freeDays {
    color: rgba(218, 218, 0, 0.89);
    font-weight: bolder;
    font-style: oblique;
}