.orderWrapp{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    
}

.orderUsersAndWorkoutTipes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: end;
    width: 80%;
    height: 20%;
}