.orderMain {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.orderParagraph {
    display: flex;
    flex-direction: inherit;
}

span {
    display: flex;
    flex-direction: row;
    justify-content: end;
    color: rgb(179, 179, 0);
    font-style: oblique;
}

.imgMain {
    width: 600px;
    height: 600px;
    margin: 50px;
    margin-right: 10%;
}

.cuadroOpaco {
    display: flex;
    flex-direction: row;
    margin-top: 70px;
    width: 150px;
    height: 500px;
    border: 2px solid black;
    border-radius: 10px;
    z-index: 1;
}

.Digital {
    position: absolute;
    text-align: right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

.useFenix {
    position: absolute;
    text-align: right;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
}