* {
    margin: 0;
}

.orderNav {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}

.logoNav {
    margin-left: 50px;
    width: 90px;
    height: 90px;
}

.titleNav {
    width: 190px;
    height: 95px;
    margin-top: 20px;
    font-style: normal;
    font-size: 2.5rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #d9d9d9;
    text-align: center;
}

.listNav {
    width: 30%;
    margin-top: 30px;
    margin-right: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.orderButton {
    display: flex;
    justify-content: right;
}

button {
    margin-top: 10px;
    margin-right: 10px;
    color: white;
    width: 120px;
    height: 50px;
    font-size: 1rem;
    background: #2E00AF;
    border: 1px solid #7448ee;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

a {
    color: inherit;
    text-decoration: none;
}